
.vs/Proxy by Azi/v16/.suo
Proxy by Azi/bin/Debug/netcoreapp3.1/client_id.azic
Proxy by Azi/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
Proxy by Azi/bin/Debug/netcoreapp3.1/Proxy by Azi.deps.json
Proxy by Azi/bin/Debug/netcoreapp3.1/Proxy by Azi.dll
Proxy by Azi/bin/Debug/netcoreapp3.1/Proxy by Azi.exe
Proxy by Azi/bin/Debug/netcoreapp3.1/Proxy by Azi.pdb
Proxy by Azi/bin/Debug/netcoreapp3.1/Proxy by Azi.runtimeconfig.dev.json
Proxy by Azi/bin/Debug/netcoreapp3.1/Proxy by Azi.runtimeconfig.json
Proxy by Azi/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Proxy by Azi/obj/Debug/netcoreapp3.1/apphost.exe
Proxy by Azi/obj/Debug/netcoreapp3.1/Proxy by Azi.AssemblyInfo.cs
Proxy by Azi/obj/Debug/netcoreapp3.1/Proxy by Azi.AssemblyInfoInputs.cache
Proxy by Azi/obj/Debug/netcoreapp3.1/Proxy by Azi.assets.cache
Proxy by Azi/obj/Debug/netcoreapp3.1/Proxy by Azi.csproj.CopyComplete
Proxy by Azi/obj/Debug/netcoreapp3.1/Proxy by Azi.csproj.CoreCompileInputs.cache
Proxy by Azi/obj/Debug/netcoreapp3.1/Proxy by Azi.csproj.FileListAbsolute.txt
Proxy by Azi/obj/Debug/netcoreapp3.1/Proxy by Azi.csprojAssemblyReference.cache
Proxy by Azi/obj/Debug/netcoreapp3.1/Proxy by Azi.dll
Proxy by Azi/obj/Debug/netcoreapp3.1/Proxy by Azi.genruntimeconfig.cache
Proxy by Azi/obj/Debug/netcoreapp3.1/Proxy by Azi.pdb
Proxy by Azi/obj/project.assets.json
Proxy by Azi/obj/project.nuget.cache
Proxy by Azi/obj/Proxy by Azi.csproj.nuget.dgspec.json
Proxy by Azi/obj/Proxy by Azi.csproj.nuget.g.props
Proxy by Azi/obj/Proxy by Azi.csproj.nuget.g.targets
